doctype html

block content
html(lang='en')
    head
        meta(charset='UTF-8')
        title AAU buy & sell books
        link(rel='stylesheet', href='/stylesheets/style1.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        script(src='/javascripts/script1.js')
        h2 AAU k&oslash;b og salg af b&oslash;ger
        .box
            .container-1
                form.search(action='/models/books', method='GET')
                label
                    input#searchTerm(type='text', placeholder='Search...', name='resName')
                    button(type='button', onclick='searchALL()') Search

        .SearchBarSideWays
            img(src='/images/AAUlogo.png', alt='AAULOGO', style='width:100px;height:100px;')
            a.big(href='/views/profile.pug') Profile
            a(href='/views/service.pug') About The Service
            a(href='https://www.cph.aau.dk/kontakt/') Contact
            a(href='/views/Index.pug') Log Off
        .main_textbox
            table
                tbody
                    tr
                        td
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s
                                | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                                | of Lorem Ipsum.
                        td
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s
                                | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                                | of Lorem Ipsum.
                        td
                            p
                                | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s
                                | standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
                                | of Lorem Ipsum.